.row-patient-detail {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.pd-column-label {
  text-align: right;
  margin-top: 15px;
}

.row-patient-detail pre {
  margin: 0.25rem 10rem;
}

.align-left {
  text-align: left;
}

.pd-label {
  padding-top: 1rem;
  width: 25%;
}

.pd-flex {
  display: flex;
}

.pd-flex pre {
  width: 120%;
  margin: 0.5rem;
}

.pd-large-text {
  min-height: 50px;
}
