.App {
  text-align: center;
}

.carousel-item > img {
  width: 60%;
  height: 45rem;
  margin: 0 auto;
  filter: brightness(60%);
}

.carousel-caption > h1 {
  font-family: Playfair Display;
  color: white;
  font-size: 45px;
  line-height: 50px;
}

.carousel-caption > p {
  font-family: Lora;
  font-size: 17px;
  line-height: 25px;
  width: 75%;
  margin: 0 auto;
}

.align-left {
  text-align: left;
}

.footer {
  color: white;
  background-color: rgba(0, 0, 0, 0.699);
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  filter: brightness(80%);
}

.footer-text {
  font-size: 0.7vw;
  text-align: center;
  line-height: 0.9em;
}
